In [1]:
#For loop

In [2]:
for letter in 'Python':
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [3]:
fruits = ['banana', 'apple', 'mango']
for fruit in fruits:
    print('Current fruit :', fruit)

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [4]:
for x in range(1, 11):
    for y in range(1, 11):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [5]:
x = -20
y = 20
while x <= y:
    print("X is now: ", x)
    x = x + 1
    while x < 0:
        print("X is negative")
        x = x + 1

X is now:  -20
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is negative
X is now:  0
X is now:  1
X is now:  2
X is now:  3
X is now:  4
X is now:  5
X is now:  6
X is now:  7
X is now:  8
X is now:  9
X is now:  10
X is now:  11
X is now:  12
X is now:  13
X is now:  14
X is now:  15
X is now:  16
X is now:  17
X is now:  18
X is now:  19
X is now:  20

In [6]:
#Functions

In [7]:
def myprint(s1): #Definition
    print(s1)
    
myprint("Barcelona") #Call
myprint("Real Madrid")

Barcelona
Real Madrid

In [8]:
def add(x, y):
    result = x + y
    return result
print(add(5,3))

8

In [10]:
#default parameter
def printinfo(name, age = 23):
    print("Name: ", name)
    print("Age: ", age)
    
printinfo(age = 19, name = "Tasmanian Devil")
printinfo(name = "Bugs Bunny")

Name:  Tasmanian Devil
Age:  19
Name:  Bugs Bunny
Age:  23

In [11]:
from random import randint
print(randint(0, 100))

import random
print(random.randint(0, 100))

88
57

In [12]:
print(random.randrange(100, 1000, 2))
print(random.randrange(100, 1000, 3))

830
622

In [13]:
print(random.uniform(18, 81))
print(random.uniform(19, 38))

57.86540771369445
34.198081509887565

In [14]:
from math import pi
print(pi)

3.141592653589793

In [15]:
import math
def area_of_circle(r):
    a = r**2 * math.pi
    return a
print(area_of_circle(5))

78.53981633974483

In [16]:
#Anonim Fonksiyonlar: lambda, map, filter, reduce

In [17]:
addition = lambda a : a + 10
print(addition(5))

15

In [18]:
product = lambda a, b : a * b
print(product(5, 6))

30

In [19]:
addition = lambda a, b, c : a + b + c
print(addition(5, 6, 2))

13

In [20]:
res = (lambda *args : sum(args))
res(10, 20), res(10,20,30,40), res(10,20,30,40,50,60,70,80)

(30, 100, 360)

In [21]:
res1 = (lambda **kwargs: sum(kwargs.values()))
res1(a = 10, b = 20, c = 30), res1(a = 10, b = 20, c = 30, d = 40, e = 50)

(60, 150)

In [22]:
list1 = [1,2,3,4,5,6,7,8,9]

def odd(n):
    if n %2 == 1:
        return True
    else:
        return False
    
odd_num = list(filter(odd, list1))
odd_num

[1, 3, 5, 7, 9]

In [23]:
odd_num = list(filter(lambda n : n % 2 == 1, list1))
odd_num

[1, 3, 5, 7, 9]

In [24]:
def twice(n):
    return n*2

doubles = list(map(twice, odd_num))
doubles

[2, 6, 10, 14, 18]

In [26]:
doubles = list(map(lambda n : n*2, odd_num))
doubles

[2, 6, 10, 14, 18]

In [27]:
from functools import reduce

In [28]:
def add(a, b):
    return a + b

sum_all = reduce(add, doubles)
sum_all

50

In [29]:
sum_all = reduce(lambda a, b : a + b, doubles)
sum_all

50

In [30]:
sum_all = reduce(lambda a,b:a+b, list(map(lambda n:n*2, list(filter(lambda n : n%2 == 1, list1)))))
sum_all

50

In [31]:
#Files and Exceptions

In [32]:
f = open("2108test", "w")
print(f)

<_io.TextIOWrapper name='2108test' mode='w' encoding='cp1254'>

In [33]:
f.write("Now is the time")
f.write(" to close the file")

f.close()

In [34]:
f = open("2108test", "r")
text = f.read()
print(text)

Now is the time to close the file

In [35]:
f = open("2108test", "r")
text = f.read(6)
print(text)

Now is

In [36]:
print(f.read(1000006))

 the time to close the file

In [37]:
fo = open("2108foo.txt", "w")
fo.write("Python is a great language.\n Yeah its great!!\n")
fo.close()

In [38]:
fo = open("2108foo.txt", "r+")
mystr = fo.read(17)
print("Our string is : ", mystr)

Our string is :  Python is a great

In [39]:
position = fo.tell()
print("Current file position :", position)

Current file position : 17

In [40]:
position = fo.seek(0, 0)
mystr = fo.read(17)
print("Again our string is : ", mystr)
fo.close()

Again our string is :  Python is a great

In [41]:
#try, except, else, finally
try:
    fh = open("testfile", "r")
    fh.write("This is my test file for exception handling")
    
except IOError:
    print("Error : cannot find file or read data")
    
else:
    print("Content was written to the file successfully")

Error : cannot find file or read data

In [43]:
try:
    fh = open("testfile", "w")
    fh.write("This is my test file for exception handling")
    
except IOError:
    print("Error : cannot find file or read data")
    
else:
    print("This is true")
    
finally:
    print("Content was written to the file successfully")

This is true
Content was written to the file successfully

In [44]:
#Dictionaries (Sözlükler)

In [47]:
mydict = {'Name' : 'Azra', 'Age' : 1, 'Class' : 'First'}
print("mydict['Name']: ", mydict['Name'])
print("mydict['Age']: ", mydict['Age'])

mydict['Name']:  Azra
mydict['Age']:  1

In [48]:
mydict = {'Name':'Azra', 'Age':1, 'Class':'First'}
mydict['Age'] = 8
mydict['School'] = "Primary School"

print("mydict['Age']: ", mydict['Age'])
print("mydict['School']: ", mydict['School'])

mydict['Age']:  8
mydict['School']:  Primary School

In [49]:
mydict = {'Name': 'Azra', 'Age':1, 'Name':'Ayşe'}
print("mydict['Name']: ", mydict['Name'])

mydict['Name']:  Ayşe

In [50]:
mydict = {'Name' : 'Azra', 'Age' : 1, 'Class' : 'First'}
del mydict['Name']
mydict.clear()
del mydict

In [51]:
print("mydict['Age']: ", mydict['Age'])
print("mydict['School']: ", mydict['School'])

NameError: name 'mydict' is not defined

In [52]:
phonebook = {'Chris' : '555-1111', 'Katie' : '555-2222'}
value = phonebook.get('Katie')
print(value)

555-2222

In [54]:
phonebook = {'Chris' : '555-1111', 'Katie' : '555-2222', 'Joel' : '555-3333'}
for key, value in phonebook.items():
    print(key, ':', value)

Chris : 555-1111
Katie : 555-2222
Joel : 555-3333

In [55]:
import time

def trad_version():
    t1 = time.time()
    X = range(10000000)
    Y = range(10000000)
    Z = []
    for i in range(len(X)):
        Z.append(X[i] + Y[i])
    return time.time() - t1

trad_version()

7.148994207382202

In [56]:
from numpy import *
def numpy_version():
    t1 = time.time()
    X = arange(10000000)
    Y = arange(10000000)
    Z = X + Y
    return time.time() - t1

numpy_version()

0.0500025749206543